/* custom properties */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


/* ## Colors */

/* ### Primary */
:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);




  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);


  /* ## Gradients */

  --Light-slate-blue: hsl(252, 100%, 67%);
  /* (background) */
  --Light-royal-blue: hsl(241, 81%, 54%);
  /* (background) */


  --Violet-blue: hsla(256, 72%, 46%, 1);
  /* (circle) */
  --Persian-blue: hsla(241, 72%, 46%, 0);
  /* (circle) */

}


/* start css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  font-size: inherit;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


/* end css reset */


body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  text-align: center;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

main {
  max-width: 736px;
  min-width: 360px;
}

.left-part {
  background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  border-radius: 0 0 30px 30px;
  color: var(--White);
  padding: 26px 44px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

h1 {
  color: hsl(0, 0%, 100%, .7);

}

.circle {
  display: grid;
  place-content: center;
  margin: auto;
  background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  aspect-ratio: 1/1;
  width: 140px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%, .4);
}

.circle span {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  color: var(--White);
}

.score-description h2 {
  font-size: 26px;
}

.score-description p {
  color: hsl(0, 0%, 100%, .6);
  margin: 5px 0;
  font-size: 16px;
}




/* -------- right-part --------*/

.right-part {
  padding: 26px;
}

.right-part h2 {
  text-align: left;
  margin-bottom: 24px;
  color: var(--Dark-gray-blue);
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  margin: 16px 0px;
  border-radius: 10px;
  font-size: 16px;
}

.card-score {
  color: rgb(158, 158, 158);
  font-weight: 700;

}

.card-text {
  margin: 16px 0;
}

span {
  color: var(--Dark-gray-blue);
  margin-right: 6px;
  font-weight: 700;
}

.one {
  background-color: #fff6f5;
  color: var(--Light-red);
}

.two {
  background-color: #fffbf2;
  color: var(--Orangey-yellow);
}

.three {
  background-color: #f2fbfa;
  color: var(--Green-teal);
}

.four {
  background-color: #f3f3fd;
  color: var(--Cobalt-blue);
}

button {
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border: none;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  padding: 16px;
  border-radius: 100px;
}

button:hover {
  background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}




@media (min-width:660px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.091);
    border-radius: 30px;
    overflow: hidden;
  }

  .left-part {
    border-radius: 30px;
    padding: 26px 52px 30px;
  }

  .right-part {
    padding: 40px;
  }

  .right-part h2 {
    font-size: 24px;
  }

  .circle {
    width: 200px;
    margin-top: 34px;
  }

  .score-description h2 {
    font-size: 30px;
    margin-top: 6px;

  }

  .score-description p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 14px;
  }

  h1 {
    font-size: 24px;
    margin-top: 10px;
  }


}